<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ settings.siteName }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<a href="/" class="logo">{% if logo %}<img src="{{ logo }}">{% else %}{{ settings.siteName }}{% endif %}</a>



<section class="banner">
        <div class="banner__content">
            <h1 class="page-title">{{ title }}</h1>
            {% if about %}<p>{{ about }}</p>{% endif %}
        </div>
    </section>