<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if title %}{{ title }} - {% endif %}{{ settings.siteName }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header class="header">
    <a href="/" class="logo{% if settings.logo == blank %} logo-image{% endif %}">{% if settings.logo == blank %}<img src="{{ settings.logo }}">{% else %}{{ settings.siteName }}{% endif %}</a>
    {% if settings.socials.0 %}
    <div class="socials">
        {% for social in settings.socials %}
            <a class="social" href="{{ social.url }}">{{ social.image-file | contents }}</a>
        {% endfor %}
    </div>
    {% endif %}
</header>
<section class="banner">
        <div class="banner__content">
            <h1 class="page-title">{{ title }}</h1>
            {% if about %}<p>{{ about }}</p>{% endif %}
        </div>
    </section>