:root {
    --link-color: #d57528;
    --background-color: #116c9a;
    --foreground-color: #fff;
}

html {
    font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
    font-size: 18px;
    line-height: 1.5em;
}

body {
    margin: 0;
    color: #222;
}
* {
    margin: 0;
    box-sizing: border-box;
}
* + * {
    margin-top: 1em;
}

a {
    color: var(--link-color);
}
img {
    max-width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.socials {
    display: flex;
}
.social {
    margin: 0 1rem 0 0;
}
.social:last-child {
    margin-right: 0;
}
.social svg {
    height: 2.5rem;
}
.logo {
    font-size: 3rem;
    line-height: 1.3em;
    margin-top: 1rem;
    display: block;
}
.logo-image {

}

.banner {
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 4rem 1rem; 
}
.banner__content {
    max-width: 850px;
    width: 95vw;
    margin: auto;
}

.container {
    width:90vw;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.meetups {
    display: flex;
    margin: 3rem auto;
    width: 95vw;
    max-width: 1200px;
}
.meetup__title {
    font-size: 1.5rem;
    line-height: 1.4em;
}
.meetup__item {
    padding: 1rem 2rem 2rem;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .4);
    display: grid;
    grid-template-columns: minmax(75px, .15fr) 1fr;
    grid-gap: 0 1rem;
}
.meetup__details {
    margin: 0;
}
.meetup__details p a {
    word-break: break-all;
}
.meetup__date {
    font-size: .8rem;
    margin-top: .5rem;
    align-self: start;
}
.upcoming {
    flex: 1;
    max-width: 950px;
    margin-right: 2rem;
}
.sidebar {
    flex: .5;
}

.date {
    font-size: 1.3rem;
    text-align: center;
    border: 1px solid var(--background-color);
}
.date__month {
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 5px;
}
.date__day {
    margin: 20px 0;
    font-size: 1.3em;
}

@media (max-width: 640px) {
    .meetups {
        display: block;
    }
    .upcoming, .notes {
        margin: 1rem auto 0;
        width: 90vw;
    }
    .header {
        display: block;
    }
    .logo-image img {
        width: 100%;
    }
}
.page-title {
    font-size: 3rem;
    line-height: 1.2em;
    text-align: center;
}


.footer {
    text-align: center;
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 1rem;
    
}